body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    font-size: 40px;
    font-weight: bold;
    margin: 0;
}
h2{
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
}
h3{
    margin: 0;
    font-size: 25px;
}
p{
    margin: 5px auto;
    font-size: 18px;
}
/*Links*/
.navbar,.navy_blue_section {
    background-color: #1f2937;
    color:#f9faf8;
    display: flex;
    align-items: center;
}
.navbar{
    justify-content:space-around;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 40px;
    font-size: 24px;
    color: #f9faf8;
}

ul{
    display: flex;
}
li{
    list-style-type: none;
}
a {
    color:#f9faf8;
    text-decoration: none;
    padding: 20px;
}
/*Main*/
.main_page{
    display: flex;
    margin: 60px 200px;
}
.main_information{
   padding: 40px;
   text-align: left;
}
.white{
    color: #e5e7eb;
}
.palms-img{
    height: 300px;
    width: auto;
}
button{
    background-color:#3882f6;
    border-color:#3882f6;
    color: #f9faf8;
    border-radius:5px;
    height: 30px;
    width: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*Information*/
.information_page{
    padding: 50px;
}
.picture{
    display: flex;
    justify-content: center;
    gap: 52px;
}
.inf_page{
    max-width:200px;
}
.photo{
    height: 150px;
    width: auto;
    border-radius: 5px;
}
/*Quotes*/
.quotes_page{
    background-color: #e5e7eb;
    font-style: italic;
    font-size: 36px;
    color: #1f2937;
    padding: 50px 400px;
}
.bobMarley_img{
    height: 100px;
    width: auto;
}
.bob{
    text-align: right;
}
/*Contact*/
.contact_page{
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color:#3882f6;
    color:#1f2937;
    border-radius: 3px;
    margin: 40px 300px;
    padding: 30px;
}
.inform_page{
    text-align: left;
}
.button_buy{
    border-color: #f9faf8;
}
/*Footer*/
.footer{
    background-color:#1f2937;
    padding: 10px;
}